extends layout
block content
	#main
		h1 Wanna share, or wanna borrow?
		section#share.four.columns.offset-by-two
			h2 Share your books with people
			p Blah blah
			button.button Get started
		section#find.four.columns.offset-by-two
			h2 Find books you could borrow
			p Blah blah
			button.button Browse books