extends layout
block content
	#main.row.home
		h1 Wanna share, or wanna borrow?
		section#share.four.columns.offset-by-one.panel
			h2.subheader Share your books with people
			p Blah blah
			button.button Get started
		section#find.four.column.end.panel.offset-by-two
			h2.subheader Find books you could borrow
			p Blah blah
			button.button Browse books