extends layout
block content
	#main.row.home
		h1.subheader Share and borrow books with your friends

		section#share.five.columns.offset-by-one
			.panel
				h2 Share books
				p Make your personal library a virtual library by sharing it with the people arouynd you. Get a notification when someone wants to borrow a book, set up a meeting and request it back whenever you'd like.
				button.nice.button Get started
				&nbsp;
				a or sign in
		section#find.five.column.end
			.panel
				h2 Find books
				p See what books are available to be shared in your community and request a copy. Browse books by topic and see lists that people have compiled for specific topics.
				input(type="search", placeholder="Search books")
				button.nice.button Start browsing
	hr
	#details.row	
		section#details.ten.columns.offset-by-one
			h2 Join your community of book lovers
			h3 Sharing
			p One morning, as Gregor Samsa was waking up from anxious dreams, he discovered that in his bed he had been changed into a monstrous verminous bug. He lay on his armour-hard back and saw, as he lifted his head up a little, his brown, arched abdomen divided up into rigid bow-like sections. From this height the blanket, just about ready to slide off completely, could hardly stay in place. His numerous legs, pitifully thin in comparison to the rest of his circumference, flickered helplessly before his eyes.
			h3 Borrowing
			p One morning, as Gregor Samsa was waking up from anxious dreams, he discovered that in his bed he had been changed into a monstrous verminous bug. He lay on his armour-hard back and saw, as he lifted his head up a little, his brown, arched abdomen divided up into rigid bow-like sections. From this height the blanket, just about ready to slide off completely, could hardly stay in place. His numerous legs, pitifully thin in comparison to the rest of his circumference, flickered helplessly before his eyes.
			h3 Collections
			p One morning, as Gregor Samsa was waking up from anxious dreams, he discovered that in his bed he had been changed into a monstrous verminous bug. He lay on his armour-hard back and saw, as he lifted his head up a little, his brown, arched abdomen divided up into rigid bow-like sections. From this height the blanket, just about ready to slide off completely, could hardly stay in place. His numerous legs, pitifully thin in comparison to the rest of his circumference, flickered helplessly before his eyes.
			h3 Notifications
			p One morning, as Gregor Samsa was waking up from anxious dreams, he discovered that in his bed he had been changed into a monstrous verminous bug. He lay on his armour-hard back and saw, as he lifted his head up a little, his brown, arched abdomen divided up into rigid bow-like sections. From this height the blanket, just about ready to slide off completely, could hardly stay in place. His numerous legs, pitifully thin in comparison to the rest of his circumference, flickered helplessly before his eyes.