@import '../foundation/stylesheets/foundation.min.css'

body
	background: url( '/img/bg.jpg' ) repeat top left

header
	h1
		line-height: 100px
		margin:0
		img
			display:block
			float:left

.links
	display: none

.home
	h1
		text-align: center
	h2
		font-size: 27px

#main-nav
	img
		margin: 10px 10px 0 0
		cursor: pointer