@import '../foundation/stylesheets/foundation.min.css'

body
	background: url( '/img/bg.jpg' ) repeat top left

header
	h1
		line-height: 100px
		margin:0
		img
			display:block
			float:left
	hr
		margin: 0 0 21px

.links
	display: none

.home
	h1.subheader
		text-align: center
		font-size: 74px
		margin-bottom: 45px
	h2
		font-size: 27px
	#find p
		margin-bottom:7px

#signin
	position: absolute
	top:26px
	right:0
	img
		margin: 10px 10px 0 0
		cursor: pointer


#footer
	background-color: #555
	color: #fff