@import '../foundation/stylesheets/foundation.min.css'

body
	background: url( '/img/bg.jpg' ) repeat top left

header
	h1
		line-height: 100px
		margin:0
		img
			display:block
			float:left
	hr
		margin: 0 0 21px

.links
	display: none

.home
	h1.subheader
		text-align: center
		font-size: 74px
		margin-bottom: 45px
	h2
		font-size: 27px
	#find p
		margin-bottom:7px

#signin
	position: absolute
	top:26px
	right:26px
	img
		margin: 10px 10px 0 0
		cursor: pointer


#footer
	background-color: #555
	color: #fff

//UTILS
.showing
	opacity:1 !important
	width:150% !important
.active
	background:#999 !important
	border:1px solid #444 !important
.close
	border:1px solid transparent
	display:block
	width:19px
	height:19px
	line-height:16px
	text-align:center
	-webkit-border-radius: 10px
	-moz-border-radius: 10px
	border-radius: 10px
	position:absolute
	top:5px
	right:5px
	cursor:pointer
	&:hover, &:focus
		background:#e0e0e0
		border:1px solid #999



//BOOKS
#add-book
	width:100%
.add-book-panel
	opacity:0
	position:absolute
	width:0
	background:#fff
	border:1px solid #e0e0e0
	padding:20px
	left:100%
	top:-1px
	transition: all 0.2s
	-moz-transition: all 0.2s
	-webkit-transition: all 0.2s
	-o-transition: all 0.2s
	-moz-box-shadow: 0px 0px 14px rgba(0,0,0,0.2)
	-webkit-box-shadow: 0px 0px 14px rgba(0,0,0,0.2)
	box-shadow: 0px 0px 14px rgba(0,0,0,0.2)



